.kołtainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.logo {
    height: 213.7px;
    width: 213.7px;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-basis: 200px;
    flex-grow: 0.6;
    margin-top: calc(21.37% / 2);
    box-shadow: 1px 1px 12px 0px #cccccc;
    border-radius: 5%;
    text-align: center;
    width: 50%;
    padding: 30px;
    background: #eeeeee;
    /* IMO strasznie chujowy ten gradient */
    /* background: radial-gradient(circle, rgba(255,255,255,1) 19%, rgba(2,210,197,1) 100%); */
}